<form
  #form="ngForm"
  (ngSubmit)="savePrice(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Vendor</mat-label>
    <mat-select ngModel name="VendorId_id" id="VendorId_id" required>
      <mat-option
        *ngFor="let vendor of Vendors; let i = index"
        [value]="Vendors[i].id"
        >{{ Vendors[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Product</mat-label>
    <mat-select ngModel name="ProductId_id" id="ProductId_id" required>
      <mat-option
        *ngFor="let product of Products; let i = index"
        [value]="Products[i].id"
        >{{ Products[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select ngModel name="CountryId_id" id="CountryId_id" required>
      <mat-option
        *ngFor="let country of Countries; let i = index"
        [value]="Countries[i].id"
        >{{ Countries[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Price</mat-label>
    <input
      ngModel
      matInput
      name="Price"
      id="Price"
      placeholder="Name"
      required
    />
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
