<form
  #form="ngForm"
  (ngSubmit)="savePrice(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Vendor</mat-label>
    <mat-select ngModel name="VendorId_id" id="VendorId_id" required>
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Vendors"
        (filteredReturn)="filteredVendors = $event"
      ></mat-select-filter>
      <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.id">{{
        vendor.NameL
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Product</mat-label>
    <mat-select ngModel name="ProductId_id" id="ProductId_id" required>
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Products"
        (filteredReturn)="filteredProducts = $event"
      ></mat-select-filter>
      <mat-option *ngFor="let item of filteredProducts" [value]="item.id">
        {{ item.NameL }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select ngModel name="CountryId_id" id="CountryId_id" required>
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Countries"
        (filteredReturn)="filteredCountries = $event"
      ></mat-select-filter>
      <mat-option
        *ngFor="let country of filteredCountries"
        [value]="country.id"
        >{{ country.NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Price</mat-label>
    <input
      type="number"
      ngModel
      matInput
      name="Price"
      id="Price"
      placeholder="Price"
      required
    />
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
