<form
  #form="ngForm"
  (ngSubmit)="updateBrand(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Brand Name</mat-label>
    <textarea
      matInput
      id="NameL"
      name="NameL"
      [(ngModel)]="brand.NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
