<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Disclaimer</h6>
        <p class="text-justify">
          This site is a demo website and all the products, price lists, stores,
          vendors, shipping agents, map locations and comments are dummy data
          and for demonstration use only.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>MY ACCOUNT</h6>
        <ul class="footer-links">
          <li>
            <a href="/Login">Log In / Register </a>
          </li>
          <li>
            <a href="/shopping-Cart">My Shopping Cart </a>
          </li>
          <li>
            <a href="/myOrders">My Orders </a>
          </li>
          <li>
            <a href="/myAccount">Account Settings </a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li>
            <a href="">Terms and Conditions</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved.</p>
        <a
          href="http://www.mediafire.com/file/ipp9uuvkotsasip/ReactWithIt_v1.6.0.apk/file"
        >
          <img
            src="../../assets//images/DownloadOurApp.png"
            class="Download-Our-App"
            alt="rounded float-right"
          />
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
