.product_img {
  object-fit: contain;
  width: 600px;
  height: 600px;
}
::ng-deep .img-class mat-dialog-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
::ng-deep .carousel-item {
  transition: opacity 0.7s ease-in-out !important;
  position: absolute !important;
  display: flex !important;
  justify-content: center;
  opacity: 0;
}
::ng-deep .carousel-item.active {
  position: relative !important;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .product_img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .product_img {
    width: 180px;
    height: 180px;
  }
}
