<form
  #form="ngForm"
  (ngSubmit)="saveDetail(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Store</mat-label>
    <mat-select name="StoreId_id" id="StoreId_id">
      <mat-option
        *ngFor="let store of Stores; let i = index"
        [value]="Stores[i].id"
        >{{ Stores[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select name="ProductId_id" id="ProductId_id">
      <mat-option
        *ngFor="let product of Products; let i = index"
        [value]="Products[i].id"
        >{{ Products[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Quantity</mat-label>
    <input
      matInput
      name="Quantity"
      id="Quantity"
      placeholder="Quantity"
      required
    />
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
