<form
  #form="ngForm"
  (ngSubmit)="updateShippingAgents(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Name</mat-label>
    <textarea
      matInput
      id="NameL"
      name="NameL"
      [(ngModel)]="ShippingAgent.NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Email</mat-label>
    <textarea
      matInput
      name="Email"
      id="Email"
      [(ngModel)]="ShippingAgent.Email"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Email"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Password</mat-label>
    <textarea
      matInput
      id="Password"
      name="Password"
      [(ngModel)]="ShippingAgent.Password"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Password"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Address</mat-label>
    <textarea
      matInput
      id="Address1"
      name="Address1"
      [(ngModel)]="ShippingAgent.Address1"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Adress"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Address 2 (optional)</mat-label>
    <textarea
      matInput
      id="Address2"
      name="Address2"
      [(ngModel)]="ShippingAgent.Address2"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Address"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Phone Number</mat-label>
    <textarea
      matInput
      id="Phone"
      name="Phone"
      [(ngModel)]="ShippingAgent.Phone"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Phone"
      maxlength="11"
      required
    ></textarea>
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
