<form
  #form="ngForm"
  (ngSubmit)="updateShippingUser(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>User</mat-label>
    <mat-select
      [(ngModel)]="shippingUser.UserId"
      id="UserId_id"
      name="UserId_id"
    >
      <mat-option
        *ngFor="let user of Users; let i = index"
        [value]="Users[i].id"
        >{{ Users[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Shipping Agent</mat-label>
    <mat-select
      [(ngModel)]="shippingUser.ShippingAgentId"
      id="ShippingAgentId_id"
      name="ShippingAgentId_id"
    >
      <mat-option
        *ngFor="let shippingUser of ShippingUsers; let i = index"
        [value]="ShippingUsers[i].id"
        >{{ ShippingUsers[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Update</button>
  </div>
</form>
