<form
  #form="ngForm"
  (ngSubmit)="updateShippingUser(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>User</mat-label>
    <mat-select [(ngModel)]="shippingUser.UserId" id="UserId_id" name="UserId_id">
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Users"
        (filteredReturn)="filteredUsers = $event"
      ></mat-select-filter>
      <mat-option *ngFor="let user of filteredUsers" [value]="user.id">{{
        user.NameL
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Shipping Agent</mat-label>
    <mat-select
      [(ngModel)]="shippingUser.ShippingAgentId"
      id="ShippingAgentId_id"
      name="ShippingAgentId_id"
    >
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'ShippingAgentName'"
        [array]="ShippingUsers"
        (filteredReturn)="filteredShippingUsers = $event"
      ></mat-select-filter>
      <mat-option
        *ngFor="let shippingUser of filteredShippingUsers"
        [value]="shippingUser.id"
        >{{ shippingUser.NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Update</button>
  </div>
</form>
