<div class="align">
  <div class="row">
    <div class="col-12 col-sm-6 mb-3">
      <mat-card class="user-card">
        <h5 class="text-center">{{ User.NameL }}</h5>
        <ul>
          <li class="mb-2">
            <strong>Address: &nbsp; {{ User.Address1 }}</strong>
          </li>
          <li class="mb-2">
            <strong>Address: &nbsp; {{ User.Address2 }}</strong>
          </li>
          <li class="mb-2">
            <strong>Phone: &nbsp; {{ User.Phone }}</strong>
          </li>
          <li>
            <strong>City: &nbsp; {{ User.City }}</strong>
          </li>
        </ul>
        <button
          style="float: right"
          mat-icon-button
          (click)="assign('/account')"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card>
    </div>

    <div class="col-12 col-sm-6">
      <mat-card class="w-100 mb-1 items-card">
        <div *ngFor="let checkout of Checkout">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row align-items-center mb-2 mt-2">
                <div class="col-md-3 col-12 text-center">
                  <img
                    [src]="checkout.Image"
                    class="product_img"
                    [alt]="checkout.ProductName"
                  />
                </div>
                <div class="col-md-9 col-12">
                  <strong class="mb-2">{{ checkout.ProductName }}</strong>
                  <ul>
                    <li>
                      <strong>Quantity: &nbsp;{{ checkout.Quantity }}</strong>
                    </li>
                    <li>
                      <strong
                        >Price: &nbsp;{{ checkout.TotalPricePerItem | number }}
                        {{ Currency }}</strong
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </mat-card>
      <mat-card class="w-100 text-center align">
        <strong
          >Total Price: &nbsp; {{ TotalCart | number }} {{ Currency }} </strong
        ><br />
        <div class="d-grid gap-2">
          <button (click)="createOrder()" mat-raised-button color="primary">
            Place Order
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
