.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.items-card {
  overflow-y: auto;
  height: 14rem;
}

.product_img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.user-card {
  height: 100%;
}

dl,
ol,
ul {
  margin-bottom: 0rem !important;
  padding-left: 1.3rem !important;
}

@media screen and (min-width: 767px) {
  .items-card {
    height: 9rem;
  }
  .user-card {
    height: 14rem;
  }
}
