
<form #form="ngForm" (ngSubmit) = Login(form.value) class="was-validated " class="login">
    <!-- <input type="text" style="cursor: text;" ngModel name="Email" id="Email" placeholder="Email" required>
    <input type="password" style="cursor: text;" ngModel name="Password" id="Password" placeholder="Password" required> -->
  <div>
    <mat-form-field style="width: 20rem;" appearance="outline">
      <mat-label>Email</mat-label>
      <input ngModel name="Email" id="Email" matInput placeholder="Email" required>
    </mat-form-field>

    <mat-form-field style="width: 20rem;" appearance="outline">
      <mat-label>Password</mat-label>
      <input ngModel name="Password" id="Password" [type]="hide ? 'password' : 'text'" #message maxlength="16" matInput placeholder="Password" required>
      <mat-hint align="end">{{message.value.length}} / 16</mat-hint>
      <p style="cursor: pointer;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </p>
    </mat-form-field>
  </div>

    <button type="submit">Login</button>
    <a routerLink="/Register">Sign Up</a>
  </form>
