<form  #form="ngForm" (ngSubmit) = createShippingUser(form.value) class="was-validated ">

    <div class="form-group col-md-3">
      <input type="hidden" class="form-control" ngModel name="Id" id="Id"  placeholder="Id">
      <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label for="inputUserId">User Id</label>
            <select class="custom-select"  ngModel name="UserId"  id="UserId" >
            <option *ngFor="let user of Users; let i = index" [value]="Users[i].Id">
                {{Users[i].NameL}}
            </option>
            </select>
        <div class="invalid-feedback"></div>
        </div>

        <div class="form-group col-md-3">
            <label for="inputShippingAgentId">Shipping Agent</label>
                <select class="custom-select"  ngModel name="ShippingAgentId"  id="ShippingAgentId" >
                <option *ngFor="let shippingUser of ShippingUsers; let i = index" [value]="ShippingUsers[i].Id">
                    {{ShippingUsers[i].NameL}}
                </option>
                </select>
            <div class="invalid-feedback"></div>
            </div>

    <br>   
    <button class="btn btn-primary" type="submit">Save</button>

    </form> 
