<div *ngIf="ProductCount > 0" class="container align">
  <h3>
    Shopping Cart ({{ ProductCount }})
    <button (click)="DeleteAllItems()" class="btn btn-danger btn-font">
      Delete All Items
    </button>
  </h3>

  <div *ngFor="let shoppingCartDetail of ShoppingCartDetails">
    <div class="d-flex">
      <div class="card contain">
        <div class="row g-0 p-3">
          <div class="col-12 col-sm-3 align">
            <img
              (click)="
                assign('/product/' + shoppingCartDetail.InventoryBalanceId)
              "
              [src]="shoppingCartDetail.Image"
              class="product-image"
              alt="Responsive Image"
            />
          </div>
          <div class="col-12 col-sm-6 align">
            <div class="card-body">
              <h5
                style="cursor: pointer"
                (click)="
                  assign('/product/' + shoppingCartDetail.InventoryBalanceId)
                "
                class="card-title"
              >
                {{ shoppingCartDetail.ProductName }}
              </h5>
              <p class="blue">
                <strong>
                  {{ shoppingCartDetail.TotalPrice | number }}
                  {{ shoppingCartDetail.Currency }}</strong
                >
              </p>
              <div id="summary">
                <p
                  class="collapse"
                  id="{{ 'productId' + shoppingCartDetail.ProductId }}"
                >
                  {{ shoppingCartDetail.Description }}
                </p>
                <a
                  class="collapsed"
                  data-bs-toggle="collapse"
                  href="#{{ 'productId' + shoppingCartDetail.ProductId }}"
                  aria-expanded="false"
                  aria-controls="collapseSummary"
                ></a>
              </div>

              <p class="card-text">
                <strong
                  >Quantity: &nbsp; {{ shoppingCartDetail.Quantity }}</strong
                >
              </p>
            </div>
          </div>
          <div
            class="
              card-body
              col-12 col-sm-3
              d-flex
              flex-column
              justify-content-center
              align-show
            "
          >
            <p style="margin-bottom: 0.5rem" class="card-text">
              <strong> Quantity</strong>
            </p>
            <select
              [disabled]="shoppingCartDetail.product_Qty == 0"
              class="form-control text-center qty-width"
              (change)="
                updateQuantity(
                  shoppingCartDetail.id,
                  shoppingCartDetail.Quantity
                )
              "
              #Quantity="ngModel"
              [(ngModel)]="shoppingCartDetail.Quantity"
              name="Quantity"
              id="Quantity"
            >
              <option
                *ngFor="
                  let n of numSequence(shoppingCartDetail.product_Qty);
                  let i = index
                "
                [value]="i + 1"
              >
                {{ i + 1 }}
              </option>
            </select>
            <button
              id="delete-btn-link"
              (click)="DeleteItem(shoppingCartDetail.id)"
              class="btn btn-danger btn-content btn-font"
            >
              Delete
            </button>
            <p
              *ngIf="
                shoppingCartDetail.product_Qty <= 10 &&
                shoppingCartDetail.product_Qty > 1
              "
              style="color: red"
            >
              Only {{ shoppingCartDetail.product_Qty }} items left in stock!
            </p>
            <p *ngIf="shoppingCartDetail.product_Qty == 1" style="color: red">
              Only {{ shoppingCartDetail.product_Qty }} item left in stock!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card contain mb-3">
    <div class="card-body text-success">
      <h5 style="text-align: left" class="card-title">Total</h5>
      <p style="text-align: center" class="card-text">
        <strong>{{ TotalCart | number }} {{ Currency }}</strong>
      </p>
    </div>
    <button
      (click)="checkOut()"
      [disabled]="ProductQty == 0"
      type="button"
      class="btn btn-success"
    >
      Procced To Checkout
    </button>
  </div>
</div>
<div *ngIf="ProductCount == 0 || Cart == null">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <p class="card-text">There is no items in the cart</p>
    <button type="button" (click)="assign('/Home')" class="btn btn-info">
      Home
    </button>
  </div>
</div>
