.align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.border {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.blue {
  color: #006fcc;
}
.btn-info:hover {
  color: #fff;
  background-color: #0074d3;
  border-color: #0074d3;
}
.btn-infos {
  color: #fff;
  background-color: #006fcc;
  border-color: #006fcc;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-font {
  font-size: 12px;
}

.btn-content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.currency {
  font-size: 0.8571428571rem;
  color: #006fcc;
  font-weight: 600;
}

.container {
  padding-left: 0;
  padding-right: 0;
}
.contain {
  width: 100%;
  margin-bottom: 1.5rem;
}

img:hover {
  filter: brightness(110%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product-image {
  margin: 1rem;
  width: 60%;
  object-fit: contain;
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.top {
  position: absolute;
  top: 20;
}
#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary p.collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#summary p.collapsing {
  min-height: 42px !important;
}

#summary a.collapsed:after {
  content: "+ Read More";
}

#summary a:not(.collapsed):after {
  content: "- Read Less";
}

@media (min-width: 750px) {
  .contain {
    width: 41rem;
  }
  .product-image {
    width: 130px;
    height: 130px;
  }
  .search-form {
    width: 56%;
  }
}
@media (min-width: 1250px) {
  .contain {
    width: 60rem;
  }
}

@media screen and (max-width: 550px) {
  .details {
    font-size: 12px;
  }
}

@media screen and (max-width: 440px) {
  .btn-infos {
    font-size: 9px;
  }
}
