<form
  #form="ngForm"
  (ngSubmit)="saveStore(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Store Name</mat-label>
    <textarea
      matInput
      id="NameL"
      name="NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Vendor</mat-label>
    <mat-select name="VendorId_id" id="VendorId_id">
      <mat-option
        *ngFor="let vendor of Vendors; let i = index"
        [value]="Vendors[i].id"
        >{{ Vendors[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select name="CountryId_id" id="CountryId_id">
      <mat-option
        *ngFor="let Country of Countries; let i = index"
        [value]="Countries[i].id"
        >{{ Countries[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Shipping Agent</mat-label>
    <mat-select name="shippingAgentId_id" id="shippingAgentId_id">
      <mat-option
        *ngFor="let shippingAgent of ShippingAgents; let i = index"
        [value]="ShippingAgents[i].id"
        >{{ ShippingAgents[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Email</mat-label>
    <textarea
      matInput
      id="Email"
      name="Email"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Email"
      required
    ></textarea>
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
