<form
  #form="ngForm"
  (ngSubmit)="saveStore(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Store Name</mat-label>
    <textarea
      ngModel
      matInput
      id="NameL"
      name="NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Vendor</mat-label>
    <mat-select ngModel name="VendorId_id" id="VendorId_id" required>
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Vendors"
        (filteredReturn)="filteredVendors = $event"
      ></mat-select-filter>
      <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor.id">{{
        vendor.NameL
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select ngModel name="CountryId_id" id="CountryId_id" required>
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Countries"
        (filteredReturn)="filteredCountries = $event"
      ></mat-select-filter>
      <mat-option
        *ngFor="let Country of filteredCountries"
        [value]="Country.id"
        >{{ Country.NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Shipping Agent</mat-label>
    <mat-select
      ngModel
      name="shippingAgentId_id"
      id="shippingAgentId_id"
      required
    >
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="ShippingAgents"
        (filteredReturn)="filteredShippingAgents = $event"
      ></mat-select-filter>
      <mat-option
        *ngFor="let shippingAgent of filteredShippingAgents"
        [value]="shippingAgent.id"
        >{{ shippingAgent.NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Email</mat-label>
    <textarea
      ngModel
      matInput
      id="Email"
      name="Email"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Email"
      required
    ></textarea>
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
