<div class="align">
  <div class="row align-show">
    <div class="col-md-3" *ngIf="CategoryId">
      <div *ngIf="CategoryId" class="align width">
        <mat-card class="show-card width">
          <div *ngFor="let specification of AllSpecifications">
            <strong>
              <button
                style="margin-left: -12px"
                class="btn btn-link order-md-last"
                data-toggle="collapse"
                [attr.data-target]="'#TheSpecification' + specification.id"
              >
                {{ specification.NameL }}
              </button>
            </strong>
            <div *ngFor="let productSpecification of AllProductSpecifications">
              <div
                *ngIf="
                  productSpecification.SpecificationId == specification.id &&
                  productSpecification.CategoryId == specification.CategoryId
                "
                class="collapse show"
                id="{{
                  'TheSpecification' + productSpecification.SpecificationId
                }}"
              >
                <section>
                  <mat-checkbox
                    color="primary"
                    name="{{
                      'TheSpecification' + productSpecification.SpecificationId
                    }}"
                    [checked]="productSpecification.IsSelected"
                    [(ngModel)]="productSpecification.IsSelected"
                    id="{{
                      'TheSpecification' +
                        productSpecification.SpecificationValue
                    }}"
                    (change)="
                      onChangeSelection(
                        productSpecification.SpecificationValue,
                        productSpecification.IsSelected
                      )
                    "
                  >
                    <div style="margin-bottom: -2px">
                      {{ productSpecification.SpecificationValue }} ({{
                        productSpecification.SpecificationCount
                      }})
                    </div>
                  </mat-checkbox>
                </section>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="col-md-9">
      <div *ngIf="!CategoryId" class="align mb-2">
        <img class="img-fluid" src="assets/images/banner-5.jpg" alt="banner" />
      </div>
      <form class="search-form">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Search</mat-label>
          <input
            type="text"
            placeholder="Search..."
            aria-label="Search"
            matInput
            [formControl]="searchTerm"
            [matAutocomplete]="auto"
            [(ngModel)]="value"
          />

          <button
            mat-button
            style="padding: 5px; min-width: 0%"
            *ngIf="value"
            matSuffix
            aria-label="Clear"
            (click)="clearSearch()"
          >
            <mat-icon>close</mat-icon>
          </button>

          <button
            mat-button
            matSuffix
            (click)="getProductAfterTerm()"
            style="padding: 5px; min-width: 0%"
          >
            <mat-icon>search</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              (click)="getProductAfterTerm()"
              *ngFor="let product of ProductsString"
              [value]="product.ProductName"
            >
              {{ product.ProductName }} in
              <strong style="color: #008bff">{{ product.CategoryName }}</strong>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <div *ngFor="let Homedetail of HomeDetails">
        <div class="d-flex">
          <div class="card contain">
            <div class="row">
              <div class="col-12 col-sm-3 align">
                <img
                  (click)="assign('/product/' + Homedetail.id)"
                  [src]="Homedetail.Image"
                  class="product-image"
                  [alt]="Homedetail.ProductName"
                />
              </div>
              <div class="col-12 col-sm-6 align">
                <div class="card-body">
                  <h5
                    (click)="assign('/product/' + Homedetail.id)"
                    class="card-title"
                    style="cursor: pointer"
                  >
                    {{ Homedetail.ProductName }}
                  </h5>
                  <div class="star-ratings-sprite">
                    <span
                      [style.width]="Homedetail.finalProductRating + '%'"
                      class="star-ratings-sprite-rating"
                    ></span>
                  </div>
                  <div id="summary">
                    <p class="collapse" id="{{ 'product' + Homedetail.id }}">
                      {{ Homedetail.Description }}
                    </p>
                    <a
                      class="collapsed"
                      data-toggle="collapse"
                      href="#{{ 'product' + Homedetail.id }}"
                      aria-expanded="false"
                      aria-controls="collapseSummary"
                    ></a>
                  </div>

                  <p class="card-text" *ngIf="Homedetail.QuantityBalance > 10">
                    <strong>Quantity: {{ Homedetail.QuantityBalance }}</strong>
                  </p>
                  <p
                    class="card-text"
                    style="color: red"
                    *ngIf="
                      Homedetail.QuantityBalance <= 10 &&
                      Homedetail.QuantityBalance > 1
                    "
                  >
                    {{ Homedetail.QuantityBalance }} items Only left!
                  </p>
                  <p
                    class="card-text"
                    style="color: red"
                    *ngIf="Homedetail.QuantityBalance == 1"
                  >
                    {{ Homedetail.QuantityBalance }} item Only left!
                  </p>
                  <p
                    *ngIf="Homedetail.QuantityBalance == 0"
                    class="card-text"
                    style="color: red"
                  >
                    This product is currently out of stock!
                  </p>
                </div>
              </div>
              <div
                class="
                  col-12 col-sm-3
                  d-flex
                  flex-column
                  justify-content-center
                "
              >
                <div class="details">
                  <div class="">
                    <strong style="color: #006fcc"
                      >{{ Homedetail.Price | number }}
                    </strong>
                    <strong class="currency">{{ Homedetail.Currency }}</strong>
                  </div>

                  <small class="text-muted">
                    Sold By <br />{{ Homedetail.StoreName }}
                  </small>
                  <button
                    (click)="assign('/product/' + Homedetail.id)"
                    class="btn-infos mt-2"
                  >
                    <small>VIEW DETAILS</small>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <ul style="flex-flow: wrap" class="pagination justify-content-center">
          <li
            *ngIf="has_prev == true"
            class="page-item"
            (click)="getHomeProducts(1, null, null)"
          >
            <a class="page-link">« First</a>
          </li>
          <li
            *ngIf="has_prev == true"
            class="page-item"
            (click)="getHomeProducts('previous', null, null)"
          >
            <a class="page-link">Previous</a>
          </li>
          <li
            *ngFor="let page of MaxPageNumber"
            class="page-item"
            id="page {{ page }}"
          >
            <a class="page-link" (click)="getHomeProducts(page, null, null)">{{
              page
            }}</a>
          </li>
          <li
            *ngIf="has_next == true"
            class="page-item"
            (click)="getHomeProducts('next', null, null)"
          >
            <a class="page-link">Next</a>
          </li>
          <li
            *ngIf="has_next == true"
            class="page-item"
            (click)="getHomeProducts('last', null, null)"
          >
            <a class="page-link">Last »</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
