<div class="align">
  <div class="row width-container">
    <div class="col-lg-5 col-xl-6 d-flex justify-content-center">
      <div
        class="
          d-flex
          flex-column
          justify-content-start
          align-items-center
          content-width
          mb-3
        "
      >
        <h5>{{ CartDetail.Description }}</h5>
        <div class="star-ratings-sprite align-self-start mb-3">
          <span
            [style.width]="averageRating + '%'"
            class="star-ratings-sprite-rating"
          ></span>
        </div>
        <img
          src="{{ CartDetail.Image }}"
          id="product_img"
          class="product_img mb-4"
        />
        <div class="list-group flex-row gap-2 justify-content-center">
          <img
            src="{{ CartDetail.Image }}"
            class="list-group-item list_img list-width"
            id="img1"
            (click)="changeImage('img1')"
          />
          <img
            src="{{ CartDetail.Image2 }}"
            class="list-group-item list_img list-width"
            id="img2"
            (click)="changeImage('img2')"
          />
          <img
            src="{{ CartDetail.Image3 }}"
            class="list-group-item list_img list-width"
            id="img3"
            (click)="changeImage('img3')"
          />
          <img
            src="{{ CartDetail.Image4 }}"
            class="list-group-item list_img list-group-item-action list-width"
            id="img4"
            (click)="changeImage('img4')"
          />
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-xl-3 mb-3">
      <div class="mb-1">
        <strong style="color: #006fcc; font-size: large"
          >{{ CartDetail.Price | number }}
        </strong>
        <strong style="color: #006fcc">{{ CartDetail.Currency }}</strong>
      </div>

      <div *ngFor="let specification of Specifications">
        <ul>
          <li>
            {{ specification.SpecificationName }}: &nbsp;
            {{ specification.SpecificationValue }}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-xl-2">
      <div class="d-grid gap-2">
        <button
          (click)="addNewCart()"
          class="btn btn-success btn-lg text-uppercase"
        >
          <strong>Add To Cart</strong>
        </button>
        <br />
      </div>
      <div><strong>Condiction: </strong>&nbsp; New</div>
      <div>
        <strong>Sold By: &nbsp; </strong>
        <strong style="color: #006fcc">{{ CartDetail.StoreName }}</strong>
      </div>
    </div>
  </div>

  <br />
  <mat-card>
    <h5 class="text-uppercase text-center mb-3">rating</h5>
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="row align-items-center mb-3 text-nowrap text-center">
          <div class="col-3 col-md-4 col-xxl-3 flex-column">
            <div>5 Stars</div>
          </div>
          <div class="col-6">
            <div class="progress border-radius" style="height: 20px">
              <div
                class="progress-bar progress-bg"
                role="progressbar"
                [style.width]="FiveStarsPercent + '%'"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col-3 col-md-2 col-xxl-3 text-center">
            <div>({{ TotalFiveStars }})</div>
          </div>
        </div>
        <div class="row align-items-center mb-3 text-nowrap">
          <div class="col-3 col-md-4 col-xxl-3 flex-column text-center">
            <div>4 Stars</div>
          </div>
          <div class="col-6">
            <div class="progress border-radius" style="height: 20px">
              <div
                class="progress-bar progress-bg"
                role="progressbar"
                [style.width]="FourStarsPercent + '%'"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col-3 col-md-2 col-xxl-3 text-center">
            <div>({{ TotalFourStars }})</div>
          </div>
        </div>
        <div class="row align-items-center mb-3 text-nowrap">
          <div class="col-3 col-md-4 col-xxl-3 flex-column text-center">
            <div>3 Stars</div>
          </div>
          <div class="col-6">
            <div class="progress border-radius" style="height: 20px">
              <div
                class="progress-bar progress-bg"
                role="progressbar"
                [style.width]="ThreeStarsPercent + '%'"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col-3 col-md-2 col-xxl-3 text-center">
            <div>({{ TotalThreeStars }})</div>
          </div>
        </div>
        <div class="row align-items-center mb-3 text-nowrap">
          <div class="col-3 col-md-4 col-xxl-3 flex-column text-center">
            <div>2 Stars</div>
          </div>
          <div class="col-6">
            <div class="progress border-radius" style="height: 20px">
              <div
                class="progress-bar progress-bg"
                role="progressbar"
                [style.width]="TwoStarsPercent + '%'"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col-3 col-md-2 col-xxl-3 text-center">
            <div>({{ TotalTwoStars }})</div>
          </div>
        </div>
        <div class="row align-items-center mb-3 text-nowrap">
          <div class="col-3 col-md-4 col-xxl-3 flex-column text-center">
            <div>1 Star</div>
          </div>
          <div class="col-6">
            <div class="progress border-radius" style="height: 20px">
              <div
                class="progress-bar progress-bg"
                role="progressbar"
                [style.width]="OneStarPercent + '%'"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col-3 col-md-2 col-xxl-3 text-center">
            <div>({{ TotalOneStar }})</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 align align-items-center mb-3">
        <div class="circle align align-items-center mb-2">
          <strong>{{ OutOfFive }}</strong>
        </div>
        <div class="star-ratings-sprite mb-1">
          <span
            [style.width]="averageRating + '%'"
            class="star-ratings-sprite-rating"
          ></span>
        </div>
        <strong>{{ OutOfFive }} out of 5</strong>
        <span *ngIf="allReviewsCount > 1" class="font-color"
          >{{ allReviewsCount }} ratings</span
        >
        <span *ngIf="allReviewsCount == 1" class="font-color">1 rating</span>
      </div>
      <div class="col-md-4 col-12 align align-items-center">
        <ngb-rating
          style="font-size: x-large"
          [(rate)]="currentRate"
          (rateChange)="
            changeRateProduct(currentRate, CartDetail.productReview)
          "
          [readonly]="false"
          [max]="5"
        >
          <ng-template let-fill="fill">
            <span class="fa fa-star-o" [class.filled]="fill === 100"></span>
          </ng-template>
        </ngb-rating>
        <pre class="mb-3">Rate: <b>{{ currentRate }} / 5</b></pre>
        <div class="align w-100" *ngIf="currentRate != 0">
          <mat-form-field class="mb-2 w-100" appearance="outline">
            <mat-label>Leave a comment</mat-label>
            <textarea
              [(ngModel)]="CartDetail.productReview"
              name="productReview"
              id="productReview"
              matInput
              placeholder="comment..."
            ></textarea>
          </mat-form-field>
          <button
            (click)="changeRateProduct(currentRate, CartDetail.productReview)"
            (click)="Reload()"
            class="btn btn-outline-secondary"
          >
            Comment
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <br />
  <h5 class="text-uppercase text-center">reviews</h5>
  <div *ngFor="let review of Reviews" class="align">
    <mat-card
      class="mb-3"
      *ngIf="review.ProductReview != null && review.ProductReview != ''"
    >
      <div class="star-ratings-sprite mb-2">
        <span
          [style.width]="review.ProductRate + '%'"
          class="star-ratings-sprite-rating"
        ></span>
      </div>
      <h5 class="mb-3">{{ review.UserName }}</h5>
      <p>{{ review.ProductReview }}</p>
    </mat-card>
  </div>
</div>
