.align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.border-radius {
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 40%), inset 0 0 0 1px rgb(0 0 0 / 10%);
}

.content {
  width: 100;
}

.circle {
  border: 0.5px solid rgb(212, 212, 212);
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

dl,
ol,
ul {
  margin-bottom: 0rem !important;
  padding-left: 1.3rem !important;
}

img.list-active {
  filter: opacity(100%) !important;
}

img.list_img {
  filter: opacity(50%);
}
img.list_img:hover {
  filter: opacity(100%);
}
img[src=""] {
  display: none;
}

.list-width {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.product_img {
  object-fit: contain;
  width: 150px;
  height: 150px;
}

.progress-bg {
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 40%), inset 0 0 0 1px rgb(0 0 0 / 10%);
  background: linear-gradient(to bottom, #ffce00, #ffa700);
}

.star-ratings-sprite {
  background: url("../../../assets/images/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0;
}

.star-ratings-sprite-rating {
  background: url("../../../assets/images/star-rating-sprite-2.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.font-color {
  font-size: small;
  color: #999;
}

.fa-star-o {
  font-size: 1.8rem;
  color: grey;
  position: relative;
}

.filled {
  font-size: 1.8rem;
  color: #feae00;
}

@media screen and (min-width: 1250px) {
  .content {
    width: 20rem;
  }
  .content-width {
    width: 50%;
  }
}
@media screen and (max-width: 1250px) {
  .content {
    width: 100%;
  }
  .width-container {
    justify-content: center;
  }
}
@media screen and (max-width: 1333px) {
  .mat-form-field {
    width: 100%;
  }
}
