<form
  #form="ngForm"
  (ngSubmit)="updateDetail(form.value)"
  class="was-validated"
>
  <div class="form-group col-md-3">
    <input
      type="hidden"
      class="form-control"
      [(ngModel)]="detail.id"
      name="id"
      id="id"
      placeholder="Id"
    />
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group col-md-3">
    <label for="inputStoreId">StoreId</label>
    <select
      class="custom-select"
      [(ngModel)]="detail.StoreId"
      name="StoreId"
      id="StoreId"
    >
      <option
        *ngFor="let store of Stores; let i = index"
        [value]="Stores[i].id"
      >
        {{ Stores[i].NameL }}
      </option>
    </select>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group col-md-3">
    <label for="inputProductId">ProductId</label>
    <select
      class="custom-select"
      [(ngModel)]="detail.ProductId"
      name="ProductId"
      id="ProductId"
    >
      <option
        *ngFor="let product of Products; let i = index"
        [value]="Products[i].id"
      >
        {{ Products[i].NameL }}
      </option>
    </select>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group col-md-3">
    <label for="inputQuantity">Quantity</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="detail.Quantity"
      name="Quantity"
      id="Quantity"
      placeholder="Quantity"
      required
    />
    <div class="invalid-feedback"></div>
  </div>

  <button class="btn btn-success" type="submit">Update</button>
</form>
