<form
  #form="ngForm"
  (ngSubmit)="updateDetail(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Store</mat-label>
    <mat-select [(ngModel)]="detail.StoreId" name="StoreId_id" id="StoreId_id">
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Stores"
        (filteredReturn)="filteredStores = $event"
      ></mat-select-filter>
      <mat-option *ngFor="let store of filteredStores" [value]="store.id">{{
        store.NameL
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Product</mat-label>
    <mat-select
      [(ngModel)]="detail.ProductId"
      name="ProductId_id"
      id="ProductId_id"
    >
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Products"
        (filteredReturn)="filteredProducts = $event"
      ></mat-select-filter>
      <mat-option
        *ngFor="let product of filteredProducts"
        [value]="product.id"
        >{{ product.NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Quantity</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="detail.Quantity"
      name="Quantity"
      id="Quantity"
      placeholder="Quantity"
      required
    />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Transaction Type</mat-label>
    <mat-select
      [(ngModel)]="detail.TransType"
      name="TransType_id"
      id="TransType_id"
      required
    >
      <mat-option
        *ngFor="let type of transTypes; let i = index"
        [value]="transTypes[i].id"
        >{{ transTypes[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Update</button>
  </div>
</form>
