<form
  #form="ngForm"
  (ngSubmit)="saveProduct(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Product Name</mat-label>
    <textarea
      ngModel
      matInput
      id="NameL"
      name="NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select ngModel name="CategoryId_id" id="CategoryId_id" required>
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Categories"
        (filteredReturn)="filteredCategories = $event"
      ></mat-select-filter>
      <mat-option
        *ngFor="let Category of filteredCategories"
        [value]="Category.id"
        >{{ Category.NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select ngModel name="BrandId_id" id="BrandId_id" required>
      <mat-select-filter
        [placeholder]="'Search...'"
        [displayMember]="'NameL'"
        [array]="Brands"
        (filteredReturn)="filteredBrands = $event"
      ></mat-select-filter>
      <mat-option *ngFor="let Brand of filteredBrands" [value]="Brand.id">{{
        Brand.NameL
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      ngModel
      id="Description"
      name="Description"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Description"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image</mat-label>
    <ngx-mat-file-input
      ngModel
      id="Image"
      name="Image"
      style="display: inline !important"
      (change)="onChangeImg1($event)"
      required
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img id="imgsrc" width="50px" id="imgsrc" class="rounded ml-3" alt="" />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 2</mat-label>
    <ngx-mat-file-input
      ngModel
      id="Image2"
      name="Image2"
      style="display: inline !important"
      (change)="onChangeImg2($event)"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>

    <img id="imgsrc2" width="50px" class="rounded ml-3" alt="" />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 3</mat-label>
    <ngx-mat-file-input
      ngModel
      id="Image3"
      name="Image3"
      style="display: inline !important"
      (change)="onChangeImg3($event)"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img id="imgsrc3" width="50px" class="rounded ml-3" alt="" />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 4</mat-label>
    <ngx-mat-file-input
      ngModel
      id="Image4"
      name="Image4"
      style="display: inline !important"
      (change)="onChangeImg4($event)"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img id="imgsrc4" width="50px" class="rounded ml-3" alt="" />
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
