<form
  #form="ngForm"
  (ngSubmit)="saveProduct(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Product Name</mat-label>
    <textarea
      matInput
      id="NameL"
      name="NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select name="CategoryId_id" id="CategoryId_id" required>
      <mat-option
        *ngFor="let Category of Categories; let i = index"
        [value]="Categories[i].id"
        >{{ Categories[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select name="BrandId_id" id="BrandId_id" required>
      <mat-option
        *ngFor="let Brand of Brands; let i = index"
        [value]="Brands[i].id"
        >{{ Brands[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="Description"
      name="Description"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Description"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image</mat-label>
    <ngx-mat-file-input
      id="Image"
      name="Image"
      style="display: inline !important"
      required
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img width="50px" id="imgsrc" class="rounded ml-3" alt="" />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 2</mat-label>
    <ngx-mat-file-input
      id="Image2"
      name="Image2"
      style="display: inline !important"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>

    <img width="50px" class="rounded ml-3" alt="" />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 3</mat-label>
    <ngx-mat-file-input
      id="Image3"
      name="Image3"
      style="display: inline !important"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img width="50px" class="rounded ml-3" alt="" />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 4</mat-label>
    <ngx-mat-file-input
      id="Image4"
      name="Image4"
      style="display: inline !important"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img width="50px" class="rounded ml-3" alt="" />
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
