<div class="section light-blue">
  <div class="page-header">
    <div id="particles-js"></div>
    <img
      class="rounded mx-auto d-block"
      data-aos-duration="1000"
      data-aos="fade-down"
      src="assets/images/ecommerce.svg"
      alt="Welcome To PyCommerce"
      width="500"
      style="z-index: 1"
    />
  </div>
</div>
<div class="items p-3">
  <div *ngFor="let category of Categories">
    <div class="card item" data-aos="zoom-in" data-aos-duration="1500">
      <img
        [src]="category.ImageUrl"
        [alt]="category.NameL"
        class="card-img-top image"
        (click)="assignCategory(category.id)"
      />
      <div class="card-body">
        <p class="card-title">{{ category.NameL }}</p>
      </div>
    </div>
  </div>
</div>
