
  <div id="ecommerce-image">
    <img src="assets/images/Ecommerce2.jpeg" class="img-fluid" alt="Responsive image">
  </div>
   
<strong>
  {{ Category1 }}
</strong>

<mat-card>
<div class="swiper-container s1">
  <div class="swiper-wrapper">

    <div class="swiper-slide">   
        <div id="swiper-card-s1" class="card">
            <div class="row row-col-2">  
              <div><img class="card-img-top" style="max-width: 200px;margin-left: 3rem;" [routerLink]="['/product-Details',Picture1Category1ImageUrlId]" [src]="Picture1Category1ImageUrl" alt="Responsive Image"></div>
              <div class="col-md-9">
                <div class="card-body" style="margin-top: 52px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture1Category1ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p style="margin-top: 27px;" class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                    </div>
                  </div> 
                </div>
              </div>
          </div>     
        </div><br>            

    </div>

    <div class="swiper-slide">
        <div class="col-sm-2 col-xs-6">
            <div class="card" style="width: 17rem;height: 277px;">
                <div class="row row-col-2">  
                  <div><img class="card-img-top" style="max-width: 200px;margin-left: 3rem;" [routerLink]="['/product-Details',Picture2Category1ImageUrlId]" [src]="Picture2Category1ImageUrl" alt="Responsive Image"></div>
                  <div style="margin-top: 28px;" class="col-md-9">
                    <div class="card-body" style="margin-top: 1px;">
                      <div *ngFor="let product of  HomeDetails">
                        <div *ngIf="product.Id == Picture2Category1ImageUrlId">
                        <h5 class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                        <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                      </div>
                      </div> 
                      </div>
                  </div>
              </div>     
            </div><br>            
        </div>
    </div>

    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture3Category1ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture3Category1ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -13px;" class="col-md-9">
                <div class="card-body" style="margin-top: 34px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture3Category1ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div> 
    </div>
    
    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17em;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture4Category1ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture4Category1ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -25px;" class="col-md-9">
                <div class="card-body" style="margin-top: 16px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture4Category1ImageUrlId">
                    <h5 style="margin-top: -5px;" class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price: </strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
    </div>
    
    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture5Category1ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture5Category1ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: 8px;" class="col-md-9">
                <div class="card-body" style="margin-top: 16px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture5Category1ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
    </div>

    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture6Category1ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture6Category1ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: 13px;" class="col-md-9">
                <div class="card-body" style="margin-top: 4px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture6Category1ImageUrlId">
                    <h5 style="margin-top: -2px;" class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
    </div>

    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6"> 
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture7Category1ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture7Category1ImageUrl" alt="Responsive Image"></div>
              <div class="col-md-9">
                <div class="card-body" style="margin-top: 52px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture7Category1ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p style="margin-top: 27px;" class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
    </div>

    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture8Category1ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture8Category1ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: 28px;" class="col-md-9">
                <div class="card-body" style="margin-top: 2px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture8Category1ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
    </div>

    <div class="swiper-slide">
      
      <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture9Category1ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture9Category1ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -13px;" class="col-md-9">
                <div class="card-body" style="margin-top: 36px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture9Category1ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>    
    </div>

    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17em;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" style="max-width: 200px;margin-left: 3rem;" [src]="Picture10Category1ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -25px;" class="col-md-9">
                <div class="card-body" style="margin-top: 17px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture10Category1ImageUrlId">
                    <h5 style="margin-top: -5px;" class="card-title" [routerLink]="['/product-Details',product.Id]" style="cursor: pointer;">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price: </strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
    </div>

  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>
</mat-card><br>


<strong>   
     {{ Category2 }}
</strong>

<mat-card>      
<div class="swiper-container s2">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6"> 
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
             <div><img class="card-img-top" [routerLink]="['/product-Details',Picture1Category2ImageUrlId]" style="max-width: 200px;margin-left: 3rem;margin-bottom: 2rem;" [src]="Picture1Category2ImageUrl" alt="Responsive Image"></div>
              <div class="col-md-9">
                <div class="card-body" style="margin-top: -4px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture1Category2ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p style="margin-top: 27px;" class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
        </div>

        <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
             <div><img class="card-img-top" [routerLink]="['/product-Details',Picture2Category2ImageUrlId]" style="max-width: 100px;max-height: 135px;margin-left: 6rem;margin-bottom: 1rem;" [src]="Picture2Category2ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: 28px;" class="col-md-9">
                <div class="card-body" style="margin-top: -3px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture2Category2ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
  </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
             <div><img class="card-img-top" [routerLink]="['/product-Details',Picture3Category2ImageUrlId]" style="max-width: 200px;margin-left: 3rem;margin-bottom: 3.2rem;" [src]="Picture3Category2ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -13px;" class="col-md-9">
                <div class="card-body" style="margin-top: -12px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture3Category2ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>                  
  </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17em;height: 277px;">
            <div class="row row-col-2">  
             <div><img class="card-img-top" [routerLink]="['/product-Details',Picture4Category2ImageUrlId]" style="max-width: 135px;max-height: 110px;margin-left: 5rem;margin-bottom: 6.1rem;" [src]="Picture4Category2ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -25px;" class="col-md-9">
                <div class="card-body" style="margin-top: 2px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture4Category2ImageUrlId">
                    <h5 style="margin-top: -5px;" class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price: </strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
  </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture5Category2ImageUrlId]" style="max-width: 200px;margin-left: 3rem;margin-bottom: 2rem;" [src]="Picture5Category2ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: 8px;" class="col-md-9">
                <div class="card-body" style="margin-top: 1px;">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture5Category2ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
  </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
      <div class="card" style="width: 17rem;height: 277px;">
          <div class="row row-col-2">  
           <div><img class="card-img-top" [routerLink]="['/product-Details',Picture6Category2ImageUrlId]" style="max-width: 100px;max-height: 135px;margin-left: 6rem;margin-bottom: 1.8rem;" [src]="Picture6Category2ImageUrl" alt="Responsive Image"></div>
            <div style="margin-top: 13px;" class="col-md-9">
              <div class="card-body" style="margin-top: 1px;">
                <div *ngFor="let product of  HomeDetails">
                  <div *ngIf="product.Id == Picture6Category2ImageUrlId">
                  <h5 style="margin-top: -2px;" class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                  <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                </div>
                </div> 
                </div>
            </div>
        </div>     
      </div><br>            
  </div>
</div>

<div class="swiper-slide">
  <div class="col-sm-2 col-xs-6"> 
      <div class="card" style="width: 17rem;height: 277px; margin-bottom: 5px;">
          <div class="row row-col-2">  
           <div><img class="card-img-top" [routerLink]="['/product-Details',Picture7Category2ImageUrlId]" style="max-width: 200px;margin-left: 3rem;margin-bottom: 0.8rem;" [src]="Picture7Category2ImageUrl" alt="Responsive Image"></div>
            <div class="col-md-9">
              <div class="card-body" style="margin-top: -6px;">
                <div *ngFor="let product of  HomeDetails">
                  <div *ngIf="product.Id == Picture7Category2ImageUrlId">
                  <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                  <p style="margin-top: 27px;" class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                </div>
                </div> 
                </div>
            </div>
        </div>     
      </div><br>            
   </div>
  </div>

   <div class="swiper-slide">
  <div class="col-sm-2 col-xs-6">
      <div class="card" style="width: 17rem;height: 277px;">
          <div class="row row-col-2">  
           <div><img class="card-img-top" [routerLink]="['/product-Details',Picture8Category2ImageUrlId]" style="max-width: 135px; max-height: 110px;margin-left: 5rem;margin-bottom: 2.1rem;" [src]="Picture8Category2ImageUrl" alt="Responsive Image"></div>
            <div style="margin-top: 28px;" class="col-md-9">
              <div class="card-body" style="margin-top: 4px;">
                <div *ngFor="let product of  HomeDetails">
                  <div *ngIf="product.Id == Picture8Category2ImageUrlId">
                  <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                  <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                </div>
                </div> 
                </div>
            </div>
        </div>     
      </div><br>            
  </div>
</div>
  
  <div *ngIf="Picture9Category2ImageUrl">
    <div class="swiper-slide">
      <div *ngIf="Picture9Category2ImageUrl">
        <div class="col-sm-2 col-xs-6">
          <div class="card" style="width: 17rem;height: 277px;">
              <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture9Category2ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture9Category2ImageUrl" alt="Responsive Image"></div>
                <div style="margin-top: -13px;" class="col-md-9">
                  <div class="card-body">
                    <div *ngFor="let product of  HomeDetails">
                      <div *ngIf="product.Id == Picture9Category2ImageUrlId">
                      <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                      <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                    </div>
                    </div> 
                    </div>
                </div>
            </div>     
          </div><br>            
      </div> 
      </div>
    </div>  
  </div>

  <div *ngIf="Picture10Category2ImageUrl">
    <div class="swiper-slide">
      <div *ngIf="Picture10Category2ImageUrl">
   <div class="col-sm-2 col-xs-6">
     <div class="card" style="width: 17em;height: 277px;">
         <div class="row row-col-2">  
          <div><img class="card-img-top" [routerLink]="['/product-Details',Picture10Category2ImageUrlId]" style="max-width: 135px;max-height: 110px;margin-left: 5rem;" [src]="Picture10Category2ImageUrl" alt="Responsive Image"></div>
           <div style="margin-top: -25px;" class="col-md-9">
             <div style="margin-top: 4px;" class="card-body">
               <div *ngFor="let product of  HomeDetails">
                 <div *ngIf="product.Id == Picture10Category2ImageUrlId">
                 <h5 style="margin-top: -5px;" class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                 <p class="card-text"><strong>Price: </strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
               </div>
               </div> 
               </div>
           </div>
       </div>     
     </div><br>            
 </div>
       </div>
     </div>
       
  </div>

  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>
</mat-card><br>


<strong>
  {{ Category3 }}
</strong>

<mat-card>
<div class="swiper-container s3">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <div class="col-sm-2 col-xs-6"> 
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
             <div ><img class="card-img-top" [routerLink]="['/product-Details',Picture1Category3ImageUrlId]" style="max-width: 75px;max-height: 140px; margin-left: 7rem;margin-bottom: 1rem;" [src]="Picture1Category3ImageUrl" alt="Responsive Image"></div>
              <div class="col-md-9">
                <div class="card-body">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture1Category3ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p style="margin-top: 27px;" class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
   </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
             <div><img class="card-img-top" [routerLink]="['/product-Details',Picture2Category3ImageUrlId]" style="max-width: 130px;max-height: 160px; margin-left: 5rem;margin-bottom: -0.7rem;" [src]="Picture2Category3ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: 28px;" class="col-md-9">
                <div class="card-body">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture2Category3ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
   </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
             <div><img class="card-img-top" [routerLink]="['/product-Details',Picture3Category3ImageUrlId]" style="max-width: 80px;max-height: 170px; margin-left: 7rem;margin-bottom: 1.8rem;" [src]="Picture3Category3ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -13px;" class="col-md-9">
                <div class="card-body">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture3Category3ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>                  
   </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17em;height: 277px;">
            <div class="row row-col-2">  
             <div><img class="card-img-top" [routerLink]="['/product-Details',Picture4Category3ImageUrlId]" style="max-width: 75px;max-height: 155px;margin-left: 7rem; margin-bottom: 2.7rem;" [src]="Picture4Category3ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: -25px;" class="col-md-9">
                <div style="margin-top: 4px;" class="card-body">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture4Category3ImageUrlId">
                    <h5 style="margin-top: -5px;" class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price: </strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
   </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
        <div class="card" style="width: 17rem;height: 277px;">
            <div class="row row-col-2">  
              <div><img class="card-img-top" [routerLink]="['/product-Details',Picture5Category3ImageUrlId]" style="max-width: 137px;max-height: 150px;margin-left: 5rem;margin-bottom: 3rem;" [src]="Picture5Category3ImageUrl" alt="Responsive Image"></div>
              <div style="margin-top: 8px;" class="col-md-9">
                <div class="card-body">
                  <div *ngFor="let product of  HomeDetails">
                    <div *ngIf="product.Id == Picture5Category3ImageUrlId">
                    <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                    <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                  </div>
                  </div> 
                  </div>
              </div>
          </div>     
        </div><br>            
    </div>
   </div>

    <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6">
      <div class="card" style="width: 17rem;height: 277px;">
          <div class="row row-col-2">  
           <div><img class="card-img-top" [routerLink]="['/product-Details',Picture6Category3ImageUrlId]" style="max-width: 120px;max-height: 120px;margin-left: 5rem;margin-bottom: 2.5rem;" [src]="Picture6Category3ImageUrl" alt="Responsive Image"></div>
            <div style="margin-top: 13px;" class="col-md-9">
              <div class="card-body">
                <div *ngFor="let product of  HomeDetails">
                  <div *ngIf="product.Id == Picture6Category3ImageUrlId">
                  <h5 style="margin-top: -2px;" class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                  <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                </div>
                </div> 
                </div>
            </div>
        </div>     
      </div><br>            
  </div>
   </div>

   <div class="swiper-slide">
    <div class="col-sm-2 col-xs-6"> 
      <div class="card" style="width: 17rem;height: 277px;">
          <div class="row row-col-2">  
           <div><img class="card-img-top" [routerLink]="['/product-Details',Picture7Category3ImageUrlId]" style="max-width: 80px;max-height: 135px;margin-left: 7rem;margin-bottom: 1.1rem;" [src]="Picture7Category3ImageUrl" alt="Responsive Image"></div>
            <div class="col-md-9">
              <div class="card-body">
                <div *ngFor="let product of  HomeDetails">
                  <div *ngIf="product.Id == Picture7Category3ImageUrlId">
                  <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                  <p style="margin-top: 27px;" class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                </div>
                </div> 
                </div>
            </div>
        </div>     
      </div><br>            
  </div>
 </div>

  <div class="swiper-slide">
  <div class="col-sm-2 col-xs-6">
      <div class="card" style="width: 17rem;height: 277px;">
          <div class="row row-col-2">  
           <div><img class="card-img-top" [routerLink]="['/product-Details',Picture8Category3ImageUrlId]" style="max-width: 75px;max-height: 160px;margin-left: 7rem;margin-bottom: -1rem;" [src]="Picture8Category3ImageUrl" alt="Responsive Image"></div>
            <div style="margin-top: 28px;" class="col-md-9">
              <div class="card-body" style="margin-top: -1px;">
                <div *ngFor="let product of  HomeDetails">
                  <div *ngIf="product.Id == Picture8Category3ImageUrlId">
                  <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                  <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                </div>
                </div> 
                </div>
            </div>
        </div>     
      </div><br>            
  </div>
 </div>

  <div class="swiper-slide">
  <div *ngIf="Picture9Category2ImageUrl">
    <div class="col-sm-2 col-xs-6">
      <div class="card" style="width: 17rem;height: 277px;">
          <div class="row row-col-2">  
          <div><img class="card-img-top" [routerLink]="['/product-Details',Picture9Category3ImageUrlId]" style="max-width: 200px;margin-left: 3rem;" [src]="Picture9Category3ImageUrl" alt="Responsive Image"></div>
            <div style="margin-top: -13px;" class="col-md-9">
              <div class="card-body">
                <div *ngFor="let product of  HomeDetails">
                  <div *ngIf="product.Id == Picture9Category3ImageUrlId">
                  <h5 class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
                  <p class="card-text"><strong>Price:</strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
                </div>
                </div> 
                </div>
            </div>
        </div>     
      </div><br>            
  </div> 
  </div>
 </div>
                  
  <div class="swiper-slide">
 <div *ngIf="Picture10Category2ImageUrl">
<div class="col-sm-2 col-xs-6">
  <div class="card" style="width: 17em;height: 277px;">
      <div class="row row-col-2">  
       <div><img class="card-img-top" [routerLink]="['/product-Details',Picture10Category3ImageUrlId]" style="max-width: 200px;margin-left: 3rem;margin-bottom: -1rem;" [src]="Picture10Category3ImageUrl" alt="Responsive Image"></div>
        <div style="margin-top: -25px;" class="col-md-9">
          <div style="margin-top: 4px;" class="card-body">
            <div *ngFor="let product of  HomeDetails">
              <div *ngIf="product.Id == Picture10Category3ImageUrlId">
              <h5 style="margin-top: -5px;" class="card-title" [routerLink]="['/product-Details',product.Id]">{{ product.ProductName }}</h5>
              <p class="card-text"><strong>Price: </strong><strong style="color: #006fcc;">{{ product.Price | number }} {{ product.Currency }}</strong> </p>
            </div>
            </div> 
            </div>
        </div>
    </div>     
  </div><br>            
</div>
 </div>
</div>

  </div>

  <div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
<div class="swiper-scrollbar"></div>
</div>

</mat-card>   

              
        
           
              
              
            
       




