.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img:hover {
  filter: brightness(110%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product_img {
  cursor: pointer;
  object-fit: contain;
  width: 150px;
  height: 150px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #3adb76;
}

@media screen and (max-width: 767px) {
  .master-list {
    flex-direction: column !important;
  }
}
