
<div class="container">
  <div class="row row-cols-2">
      <div>
          <div routerLink="/products" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ManageProducts.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Manage <br> Products </h5>      
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
    <div  class="row row-cols-2">
      <div>
          <div routerLink="/category-table" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ManageCategories.png" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Manage <br> Categories </h5>            
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
    <div  class="row row-cols-2">
      <div>
          <div routerLink="/vendors" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ManageVendors.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Manage Vendors </h5>         
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
    <div  class="row row-cols-2">
      <div>
          <div routerLink="/Stores" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ManageStores.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Manage <br> Stores </h5>           
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
    <div  class="row row-cols-2">
      <div>
          <div routerLink="/PriceList" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ManagePriceList.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Manage <br> PriceList </h5>           
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
    <div  class="row row-cols-2">
      <div>
          <div routerLink="/Brands" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ManageBrands.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Manage <br> Brands </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>     
    <div  class="row row-cols-2">
      <div>
          <div routerLink="/inventoryDetail" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ManageInventoryTransactions.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Inventory Transaction </h5>     
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
    <div class="row row-cols-2">
      <div>
          <div routerLink="/shippingAgent" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/shippingAgents.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> Shipping <br> Agent </h5>     
                  </div>
                </div>
              </div>
            </div>
          </div>      
    </div>
    <div class="row row-cols-2">
      <div>
          <div routerLink="/shippingAgentUser" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ShippingAgentsUsers.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">Shipping <br> Agents Users </h5>     
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
    <div class="row row-cols-2">
      <div>
          <div routerLink="/ShippingProcess" class="card mb-3" style="max-width: 500px;">
              <div class="row row-cols-2">
                <div class="col-md-3">
                  <img src="assets/images/ShippingProcess.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">Shipping <br> Process </h5>     
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
</div>
