
.card-title {
    cursor: pointer; 
}

.rounded {
    background-color: transparent;
}

.h5, h5 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.h5[_ngcontent-pdy-c144], h5[_ngcontent-pdy-c144] {
    font-size: 1.5rem;
    font-weight: bolder;
}


.card-img {
    display: block;
    width: 110px;
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    min-width: 160px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

img:hover {
    -webkit-filter: brightness(110%);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
 }

 .card mb-3 , .card-title, .card-body, .row row-cols-2, .col-md-3 {
    min-width: 150px;
}

