.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_img {
  cursor: pointer;
  object-fit: contain;
  width: 150px;
  height: 150px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.product_img:hover {
  filter: brightness(110%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
