.card-img {
    max-width: 110px;
    max-height: 12rem;
    width: 100%;
    border-radius: calc(.25rem - 1px);
    margin-bottom: 30px;
    margin-block-start: 30px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

img:hover {
    -webkit-filter: brightness(110%);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
 }

.btn-link {
    font-weight: 400;
    color: #1585cf;
    background-color: transparent;
}

.mat-card{
    width: 82%;
    margin-left: 7rem;
}

.Img{
    max-width: 110px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

Img:hover {
    -webkit-filter: brightness(110%);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
 }

#button-order-1{
    margin-left: 19rem;
}

#button-order-2{
    margin-left: 16rem;
    width: 75px;
}

#button-order-3{
    margin-left: 21rem;
}

#total-seller-note{
    bottom: -3rem;
    margin-bottom: -10px;
}

#image-deliver-detail{
    bottom: -2.5rem;
    left: -3rem;
}

#image-card-res{
    bottom: -1rem;
}

#seller-order-vendor-name{
    margin-top: 5px;
}

#order-number-master{
    margin-left: 12px;
}

#detail-deliver-notes{
    margin: -25px 0px 0px -3px;
}

#delivery-notes-str{
    margin: 0px 0px 0px 10px;
}

#mat-form-map-card{
    bottom: -1rem;
}

#map-form-delivery-card{
    bottom: -1rem;
}

#btn-add-delivery-note{
    margin-top: 1rem;
    margin-left: 1px;
}

#mat-delivery-note-card{
    margin-left: -8px;
}

#btn-add-delivery-note{
    margin-top: 1rem;
    margin-right: 3px;
}

#btn-add-delivered-note{
    margin-top: 1rem;
}


@media (max-width: 1520px){
    #button-order-1{
        margin-left: 12rem;
    }
    #button-order-2{
        margin-left: 10rem;
    }
    #button-order-3{
        margin-left: 10rem;
    }
}

@media (max-width: 1400px){
    #button-order-1{
        margin-left: 15rem;
    }
    #button-order-2{
        margin-left: 10rem;
    }
    #button-order-3{
        margin-left: 10rem;
    }
}

@media (max-width: 1200px){

    .mat-card{
        margin-left: -1rem;
        width: 108%;
    }

    .card-img{
        margin-left: 2rem;
        max-height: 9rem;
        width: 90%;
    }

    #image-card-res{
        margin-left: -1rem;
        margin-top: 3rem;
    }

    #image-deliver-detail{
        margin-left: -1rem;
    }

    #detail-deliver-notes{
        margin-left: -26px;
    }

    #total-seller-note{
        margin-left: 2rem;
        margin-bottom: -5rem;
    }

    #button-order-1{
        margin-left: 10rem;
        margin-right: 30px;
    }
    
    #button-order-2{
        margin-left: 4rem;
        margin-right: 30px;
    }
    
    #button-order-3{
        margin-left: 4rem;
    }
    
    #mat-container-card-order{
        margin-left: -20px;
    }

    #shipping-by-id{
        margin-left: 2rem;
        min-width: 10rem;
    }

    #order-store-by{
        margin-left: 2rem;
        min-width: 10rem;
    }

    #img-is-Delivered{
        margin-left: 2rem;
        margin-bottom: 0rem;
        margin-top: -3rem;
    }

    #delivery-notes-str{
        margin-left: -5rem;
    }

    #mat-delivery-note-card{
        min-width: 18rem;
        margin-left: -5rem;
    }

    #order-price-number{
        margin-left: 0rem;
    }

    #form-map-delivery{
        margin-left: 0rem;
    }
    
    #order-number-master{
        margin-left: 25px;
        min-width: 10rem;
    }

    #mat-form-map-card{
        bottom: -1rem;
        width: 8rem;
        margin-bottom: -5rem;
    }

    #map-form-delivery-card{
        bottom: -1rem;
        width: 8rem;
    }

    #order-product-name-link{
        margin-left: -5rem;
    }

    #btn-add-delivered-note{
        margin-left: 16px;
        margin-bottom: 5rem;

    }

    #btn-add-delivery-note{
        margin-left: 13px;
        margin-bottom: -9px;
    }

    .btn-link-product-name{
        min-width: 10rem;
        margin-left: -10px;
    }

    .contain-delivery-note-mat-card{
        margin-bottom: 1rem;
    }

    .contain-shipped-order-number{
        margin-bottom: 3rem;
        margin-top: -2rem;
    }
}

@media (max-width: 1000px){
    #button-order-1{
        margin-left: 10rem;
    }
    #button-order-2{
        margin-left: 4rem;
    }
    #button-order-3{
        margin-left: 4rem;
    }
}

@media (max-width: 800px){
    #button-order-1{
        margin-left: 8rem;
    }
    #button-order-2{
        margin-left: 4rem;
    }
    #button-order-3{
        margin-left: 4rem;
    }
}

@media (max-width: 700px){
    #button-order-1{
        margin-left: 4rem;
    }
    #button-order-2{
        margin-left: 4rem;
    }
    #button-order-3{
        margin-left: 4rem;
    }
}

@media (max-width: 600px){
    #button-order-1{
        margin-left: 2rem;
    }
}

@media (max-width: 575px){

    .mat-card{
        margin-left: -1rem;
        width: 108%;
    }

    .card-img{
        margin-left: -1rem;
        max-height: 9rem;
        width: 90%;
    }

    #image-card-res{
        margin-left: -1rem;
        margin-top: 3rem;
    }

    #image-deliver-detail{
        margin-left: -1rem;
    }

    #detail-deliver-notes{
        margin-left: -26px;
    }

    #total-seller-note{
        margin-left: 2rem;
        margin-bottom: -5rem;
    }

    #button-order-1{
        margin-left: 2rem;
        margin-right: 30px;
    }
    
    #button-order-2{
        margin-left: 0rem;
        margin-right: 30px;
    }
    
    #button-order-3{
        margin-left: 0rem;
    }
    
    #mat-container-card-order{
        margin-left: -20px;
    }

    #shipping-by-id{
        margin-left: 2rem;
        min-width: 10rem;
    }

    #order-store-by{
        margin-left: 2rem;
        min-width: 10rem;
    }

    #img-is-Delivered{
        margin-left: 2rem;
        margin-bottom: 0rem;
        margin-top: -3rem;
    }

    #delivery-notes-str{
        margin-left: -5rem;
    }

    #mat-delivery-note-card{
        min-width: 18rem;
        margin-left: -5rem;
    }

    #order-price-number{
        margin-left: 0rem;
    }

    #form-map-delivery{
        margin-left: 0rem;
    }
    
    #order-number-master{
        margin-left: 25px;
        min-width: 10rem;
    }

    #mat-form-map-card{
        bottom: -1rem;
        width: 8rem;
        margin-bottom: -5rem;
    }

    #map-form-delivery-card{
        bottom: -1rem;
        width: 8rem;
    }

    #order-product-name-link{
        margin-left: -5rem;
    }

    #btn-add-delivered-note{
        margin-left: 16px;
        margin-bottom: 5rem;

    }

    #btn-add-delivery-note{
        margin-left: 13px;
        margin-bottom: -9px;
    }

    .btn-link-product-name{
        min-width: 10rem;
        margin-left: -10px;
    }

    .contain-delivery-note-mat-card{
        margin-bottom: 1rem;
    }

    .contain-shipped-order-number{
        margin-bottom: 3rem;
        margin-top: -2rem;
    }
}

@media (max-width: 400px){

    .mat-card{
        margin-left: -1rem;
        width: 108%;
    }

    .card-img{
        margin-left: -1rem;
        max-height: 9rem;
        width: 100%;
    }

    #image-card-res{
        margin-left: -1rem;
        margin-top: 3rem;
    }

    #image-deliver-detail{
        margin-left: -1rem;
    }

    #total-seller-note{
        margin-left: 2rem;
        margin-bottom: -5rem;
    }

    #button-order-1{
        margin-left: -1rem;
        margin-right: 10px;
    }
    
    #button-order-2{
        margin-left: 0rem;
        margin-right: 28px;
    }
    
    #button-order-3{
        margin-left: -1rem;
    }
    
    #mat-container-card-order{
        margin-left: -21px;
        width: 313px;
    }

    #shipping-by-id{
        margin-left: 2rem;
        min-width: 10rem;
    }

    #order-store-by{
        margin-left: 2rem;
        min-width: 10rem;
    }

    #img-is-Delivered{
        margin-left: 2rem;
        margin-bottom: 0rem;
        margin-top: -3rem;
    }

    #delivery-notes-str{
        margin-left: -5rem;
    }

    #mat-delivery-note-card{
        min-width: 14rem;
        margin-left: -5rem;
    }

    #order-price-number{
        margin-left: 0rem;
        min-width: 10rem;
    }

    #form-map-delivery{
        margin-left: 0rem;
    }
    
    #order-number-master{
        margin-left: 31px;
        min-width: 8rem;
        margin-top: -21px;
    }

    #mat-form-map-card{
        bottom: -1rem;
        width: 90px;
        margin-bottom: -5rem;
    }

    #map-form-delivery-card{
        bottom: -1rem;
        width: 93px;
    }

    #order-product-name-link{
        margin-left: -3rem;
    }

    #btn-add-delivered-note{
        margin-left: 0px;
        margin-bottom: 5rem;
    }

    #btn-add-delivery-note{
        margin-left: 0px;
        margin-bottom: -9px;
    }

    .btn-link-product-name{
        min-width: 10rem;
        margin-left: -10px;
    }

    .contain-delivery-note-mat-card{
        margin-left: 2rem;
        min-width: 10rem;
    }

    .contain-shipped-order-number{
        margin-bottom: 3rem;
        margin-top: -2rem;
    }

    #detail-deliver-notes{
        margin-top: -2rem;
        margin-left: -26px;
    }

    #contain-delivery-notes{
        margin-top: -2rem;
    }
}