<div *ngIf="User" class="align p-3">
  <div class="d-flex justify-content-evenly mb-3">
    <button mat-raised-button color="accent" (click)="getFilteredOrders(1)">
      Pending
    </button>
    <button mat-raised-button color="accent" (click)="getFilteredOrders(0)">
      All
    </button>
    <button mat-raised-button color="accent" (click)="getFilteredOrders(2)">
      Delivered
    </button>
  </div>
  <div *ngFor="let master of Masters">
    <div *ngFor="let order of Orders">
      <div *ngIf="order.MasterId == master.id">
        <mat-card class="mb-3 row">
          <div class="col-12 col-md-3 mb-3 align align-items-center">
            <img
              class="product_img"
              [routerLink]="['/product/', order.InventoryBalanceId]"
              [src]="order.Image"
              [alt]="order.ProductName"
            />
          </div>
          <div class="col-12 col-md-6 mb-3 align text-center">
            <button class="mb-2" mat-button color="primary">
              <strong [routerLink]="['/product/', order.InventoryBalanceId]">{{
                order.ProductName
              }}</strong>
            </button>
            <strong class="mb-2"
              >Shipped By: &nbsp;{{ order.StoreName }}</strong
            >
            <strong class="mb-2">Order: &nbsp;{{ master.id }}</strong>
            <div class="text-center">
              <img
                *ngIf="order.isDelivered == true"
                src="assets/images/delivered.jpg"
                alt="Order Delivered Successfully"
                width="70px"
              />
            </div>
            <div>
              <mat-card class="overflow-auto" style="height: 8.5rem">
                <strong>Delivery Notes</strong>
                <div *ngFor="let detail of Details">
                  <ul *ngIf="detail.OrderId == order.id" class="d-flex">
                    <li>{{ detail.DeliveryNotes }}</li>
                  </ul>
                </div>
              </mat-card>
            </div>
          </div>
          <div class="col-12 col-md-3 mb-3 align">
            <strong class="mb-3"
              >{{ order.UnitPrice | number }} {{ Currency }}</strong
            >
            <strong class="mb-2">Seller: &nbsp;{{ order.VendorName }}</strong>
            <form
              #form="ngForm"
              (ngSubmit)="addDeliveryNotes(form.value, order.id)"
            >
              <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>Leave Notes</mat-label>
                <textarea
                  (keyup)="autoGrowTextZone($event)"
                  matInput
                  id="Notes"
                  name="Notes"
                  [(ngModel)]="order.DeliveryNote"
                  placeholder="Add Notes"
                ></textarea>
              </mat-form-field>
              <div class="d-grid gap-2">
                <button class="mb-2" mat-raised-button color="primary">
                  Add Note
                </button>
              </div>
            </form>
            <div class="d-grid gap-2">
              <button
                (click)="DeliverOrder(order.id)"
                mat-raised-button
                color="primary"
              >
                Deliver
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div
  class="d-flex justify-content-center align-items-center flex-column"
  *ngIf="!User"
>
  <p>You must login first</p>
  <button class="btn btn-info" routerLink="/login">Login</button>
</div>
