<div class="items">
  <div
    routerLink="/manage/products"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManageProducts.jpg"
      alt="Products"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Manage Products</div>
    </div>
  </div>

  <div
    routerLink="/manage/categories"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManageCategories.png"
      alt="Categories"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Manage Categories</div>
    </div>
  </div>

  <div
    routerLink="/manage/vendors"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManageVendors.jpg"
      alt="Vendors"
      class="card-img-top image cover"
    />
    <div class="card-body">
      <div class="card-title font">Manage Vendors</div>
    </div>
  </div>

  <div
    routerLink="/manage/stores"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManageStores.jpg"
      alt="Stores"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Manage Stores</div>
    </div>
  </div>

  <div
    routerLink="/manage/prices"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManagePriceList.jpg"
      alt="PriceList"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Manage PriceList</div>
    </div>
  </div>

  <div
    routerLink="/manage/brands"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManageBrands.jpg"
      alt="Brands"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Manage Brands</div>
    </div>
  </div>

  <div
    routerLink="/manage/inventories"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManageInventoryTransactions.jpg"
      alt="Inventory Transactions"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Manage Inventory Transactions</div>
    </div>
  </div>

  <div
    routerLink="/manage/specifications"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ManageSpecifications.jpg"
      alt="Shipping Process"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Manage Specifications</div>
    </div>
  </div>

  <div
    routerLink="/manage/shippingagents"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/shippingAgents.jpg"
      alt="Shipping Agnets"
      class="card-img-top image cover"
    />
    <div class="card-body">
      <div class="card-title font">Shipping Agents</div>
    </div>
  </div>

  <div
    routerLink="/manage/shippingusers"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ShippingAgentsUsers.jpg"
      alt="Shipping Agents Users"
      class="card-img-top image"
    />
    <div class="card-body">
      <div class="card-title font">Shipping Agents Users</div>
    </div>
  </div>

  <div
    routerLink="/manage/shipping/process"
    class="card item"
    data-aos="zoom-in"
    data-aos-duration="2500"
  >
    <img
      src="../../assets/images/ShippingProcess.jpg"
      alt="Shipping Process"
      class="card-img-top image cover"
    />
    <div class="card-body">
      <div class="card-title font">Shipping Process</div>
    </div>
  </div>
</div>
