<form #form="ngForm" (ngSubmit)="updateStore(form.value)" class="was-validated">
  <div class="form-group col-md-3">
    <input
      type="hidden"
      class="form-control"
      [(ngModel)]="store.id"
      name="id"
      id="id"
      placeholder="Id"
    />
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group col-md-3">
    <label for="NameL">English Name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="store.NameL"
      name="NameL"
      id="NameL"
      placeholder="Name"
      required
    />
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group col-md-3">
    <label for="VendorId">Vendors</label>
    <select
      class="custom-select"
      [(ngModel)]="store.VendorId"
      name="VendorId"
      id="VendorId"
    >
      <option
        *ngFor="let vendor of Vendors; let i = index"
        [value]="Vendors[i].id"
      >
        {{ Vendors[i].NameL }}
      </option>
    </select>
  </div>

  <div class="form-group col-md-3">
    <label for="CountryId">Countries</label>
    <select
      class="custom-select"
      [(ngModel)]="store.CountryId"
      name="CountryId"
      id="CountryId"
    >
      <option
        *ngFor="let Country of Countries; let i = index"
        [value]="Countries[i].id"
      >
        {{ Countries[i].NameL }}
      </option>
    </select>
  </div>

  <div class="form-group col-md-3">
    <label for="Email">Email</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="store.Email"
      name="Email"
      id="Email"
      placeholder="Email"
    />
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group col-md-3">
    <label for="inputShippingAgentId">Shipping Agent</label>
    <select
      class="custom-select"
      [(ngModel)]="store.ShippingAgentId"
      name="ShippingAgentId"
      id="ShippingAgentId"
    >
      <option
        *ngFor="let ShippingAgent of ShippingAgents; let i = index"
        [value]="ShippingAgents[i].id"
      >
        {{ ShippingAgents[i].NameL }}
      </option>
    </select>
  </div>

  <div class="form-group col-md-3">
    <label for="Longitude">Longitude</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="store.Longitude"
      name="Longitude"
      id="Longitude"
      placeholder="Longitude"
      required
    />
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group col-md-3">
    <label for="Latitude">Latitude</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="store.Latitude"
      name="Latitude"
      id="Latitude"
      placeholder="Latitude"
      required
    />
    <div class="invalid-feedback"></div>
  </div>
  <br />
  <button class="btn btn-success" type="submit">Update</button>
</form>
