<form
  #form="ngForm"
  (ngSubmit)="updateProduct(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Product Name</mat-label>
    <textarea
      matInput
      id="NameL"
      name="NameL"
      [(ngModel)]="product.NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select
      name="CategoryId_id"
      [(ngModel)]="product.CategoryId"
      id="CategoryId_id"
      required
    >
      <mat-option
        *ngFor="let Category of Categories; let i = index"
        [value]="Categories[i].id"
        >{{ Categories[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select
      name="BrandId_id"
      [(ngModel)]="product.BrandId"
      id="BrandId_id"
      required
    >
      <mat-option
        *ngFor="let Brand of Brands; let i = index"
        [value]="Brands[i].id"
        >{{ Brands[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="Description"
      name="Description"
      [(ngModel)]="product.Description"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image"
      id="Image"
      name="Image"
      style="display: inline !important"
      required
      valuePlaceholder="{{ product.Image }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img
      width="50px"
      [src]="product.ImageUrl"
      id="imgsrc"
      class="rounded ml-3"
      alt="{{ product.Image }}"
    />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 2</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image2"
      id="Image2"
      name="Image2"
      style="display: inline !important"
      valuePlaceholder="{{ product.Image2 }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>

    <img
      width="50px"
      [src]="product.ImageUrl2"
      class="rounded ml-3"
      id="imgsrc2"
      alt="{{ product.Image2 }}"
    />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 3</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image3"
      id="Image3"
      name="Image3"
      style="display: inline !important"
      valuePlaceholder="{{ product.Image3 }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img
      width="50px"
      [src]="product.ImageUrl3"
      class="rounded ml-3"
      id="imgsrc3"
      alt="{{ product.Image3 }}"
    />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 4</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image4"
      id="Image4"
      name="Image4"
      style="display: inline !important"
      valuePlaceholder="{{ product.Image4 }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img
      width="50px"
      [src]="product.ImageUrl4"
      class="rounded ml-3"
      id="imgsrc4"
      alt="{{ product.Image4 }}"
    />
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
<br />
<div class="p-3">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="ProductId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
        <td mat-cell *matCellDef="let element">{{ element.ProductName }}</td>
      </ng-container>

      <ng-container matColumnDef="SpecificationName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Specification Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.SpecificationName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="SpecificationValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Specification Value
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.SpecificationValue }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/manage/edit/specification', element.id]">Edit</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <br />
  <div class="d-grid gap-2">
    <button
      (click)="addProductSpecification(product.id, product.CategoryId)"
      mat-raised-button
      type="button"
      color="primary"
    >
      Add Specification
    </button>
  </div>
  <br />

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Copy Product Specification</mat-label>
    <mat-select
      #FromProductId="ngModel"
      name="FromProductId"
      id="FromProductId"
      ngModel
    >
      <mat-option
        *ngFor="let product of Products; let i = index"
        [value]="Products[i].id"
        >{{ Products[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <div *ngIf="FromProductId.value" class="d-grid gap-2">
    <button
      (click)="
        copyProductSpecification(
          FromProductId.value,
          product.id,
          product.CategoryId
        )
      "
      type="button"
      mat-raised-button
      color="accent"
    >
      Copy Specification
    </button>
  </div>
</div>
