<form
  #form="ngForm"
  (ngSubmit)="updateProduct(form.value)"
  class="p-3"
  ngNativeValidate
>
  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Product Name</mat-label>
    <textarea
      matInput
      id="NameL"
      name="NameL"
      [(ngModel)]="product.NameL"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select
      name="CategoryId_id"
      [(ngModel)]="product.CategoryId"
      id="CategoryId_id"
      required
    >
      <mat-option
        *ngFor="let Category of Categories; let i = index"
        [value]="Categories[i].id"
        >{{ Categories[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select
      name="BrandId_id"
      [(ngModel)]="product.BrandId"
      id="BrandId_id"
      required
    >
      <mat-option
        *ngFor="let Brand of Brands; let i = index"
        [value]="Brands[i].id"
        >{{ Brands[i].NameL }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="Description"
      name="Description"
      [(ngModel)]="product.Description"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Name"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image"
      id="Image"
      name="Image"
      style="display: inline !important"
      required
      valuePlaceholder="{{ product.Image }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img
      width="50px"
      [src]="product.ImageUrl"
      id="imgsrc"
      class="rounded ml-3"
      alt="{{ product.Image }}"
    />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 2</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image2"
      id="Image2"
      name="Image2"
      style="display: inline !important"
      valuePlaceholder="{{ product.Image2 }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>

    <img
      width="50px"
      [src]="product.ImageUrl2"
      class="rounded ml-3"
      id="imgsrc2"
      alt="{{ product.Image2 }}"
    />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 3</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image3"
      id="Image3"
      name="Image3"
      style="display: inline !important"
      valuePlaceholder="{{ product.Image3 }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img
      width="50px"
      [src]="product.ImageUrl3"
      class="rounded ml-3"
      id="imgsrc3"
      alt="{{ product.Image3 }}"
    />
  </mat-form-field>

  <mat-form-field class="w-100 mb-3" appearance="outline">
    <mat-label>Select Image 4</mat-label>
    <ngx-mat-file-input
      [(ngModel)]="product.Image4"
      id="Image4"
      name="Image4"
      style="display: inline !important"
      valuePlaceholder="{{ product.Image4 }}"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <img
      width="50px"
      [src]="product.ImageUrl4"
      class="rounded ml-3"
      id="imgsrc4"
      alt="{{ product.Image4 }}"
    />
  </mat-form-field>

  <div class="d-grid gap-2">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
